.cellTableOddRow {
  cursor: hand;
  cursor: pointer;
  background-color:#F0F0F0;
}

.cellTableEvenRow {
  cursor: hand;
  cursor: pointer;
  /** background-color:#B0E0E6; **/
  /** background-color:#CFECEC; **/
  background-color:#E0E0E0;
}

.cellTableSelectedRow {
  background-color:#5F9EA0;
}

.cellTableCell {
  border-width: 0;
}